/* heading */
.markdown-container .heading-info {
    margin-top: 5rem;
    color: var(--text-muted);
    font-size: var(--type-tiny-font-size);
}

.markdown-container .heading-info p {
    font-size: var(--type-base-font-size-rem)!important;
}

.markdown-container .heading-info-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.markdown-container .heading-info-wrapper .date-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
    flex-wrap: wrap;
}

.markdown-container .heading-info-wrapper .date-wrapper .first-date-wrapper {
    margin-right: 1rem;
}

.markdown-container .header-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: baseline;
    justify-content: space-between;
    border-bottom: 5px solid var(--background-secondary);
    margin-bottom: 2rem;
}

.markdown-container .header-wrapper p {
    margin: 0;
    color: var(--text-secondary);
}

.main-page-content section h2:first-of-type {
    margin-top: 2rem;
}

.about-container a:link, .about-container a:visited, .main-page-content a:link, .main-page-content a:visited {
    text-decoration: underline;
}

.about-container a:focus, .about-container a:hover, .main-page-content a:focus, .main-page-content a:hover {
    text-decoration: none;
}

.main-page-content a:not(.button) {
    color: var(--text-link);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.markdown-container > p {
    font: var(--type-article-p);
    color: var(--text-secondary);
    background-color: var(--background-secondary);
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-top: .7rem;
    padding-bottom: .7rem;
    border-radius: .5rem;
}

.markdown-container header h1 {
    text-shadow: var(--shadow-02);
    margin: 0;
}

.main-page-content h1 a:link, .main-page-content h1 a:visited, .main-page-content h2 a:link, .main-page-content h2 a:visited, .main-page-content h3 a:link, .main-page-content h3 a:visited, .main-page-content h4 a:link, .main-page-content h4 a:visited, .main-page-content h5 a:link, .main-page-content h5 a:visited, .main-page-content h6 a:link, .main-page-content h6 a:visited {
    color: var(--text-primary);
    text-decoration: none;
}

.main-page-content h1 a:before, .main-page-content h2 a:before, .main-page-content h3 a:before, .main-page-content h4 a:before, .main-page-content h5 a:before, .main-page-content h6 a:before {
    color: var(--text-inactive);
    content: "#";
    display: inline-block;
    font-size: .7em;
    line-height: 1;
    margin-left: -.8em;
    text-decoration: none;
    visibility: hidden;
    width: .8em;
}

.main-page-content h1 a:focus, .main-page-content h1 a:hover, .main-page-content h2 a:focus, .main-page-content h2 a:hover, .main-page-content h3 a:focus, .main-page-content h3 a:hover, .main-page-content h4 a:focus, .main-page-content h4 a:hover, .main-page-content h5 a:focus, .main-page-content h5 a:hover, .main-page-content h6 a:focus, .main-page-content h6 a:hover {
    text-decoration: underline;
}

.main-page-content h1 a:hover:before, .main-page-content h2 a:hover:before, .main-page-content h3 a:hover:before, .main-page-content h4 a:hover:before, .main-page-content h5 a:hover:before, .main-page-content h6 a:hover:before {
    visibility: visible;
}


.main-page-content .section-content p {
    font: var(--type-article-p);
}

h3 {
    font: var(--type-heading-h3);
    margin: 2rem 0 1rem;
}

h4 {
    font: var(--type-heading-h4);
}

.section-content del {
    text-decoration: line-through;
}

.section-content u {
    text-decoration: underline;
}

.main-page-content img {
    background: #fff;
    border: 1px solid var(--border-primary) !important;
    border-radius: var(--elem-radius);
    box-sizing: initial;
    color: #1b1b1b;
    display: inline-block;
    display: flex;
    height: auto;
    margin: 2rem auto;
}

.section-content {
    padding-top: .8rem;
}

/* notecard */

.notecard p {
    line-height: 2;
    margin: 0;
    font: var(--type-article-p);
}

.notecard p, .notecard ul {
    padding-bottom: .5rem;
}

.notecard>:first-child {
    margin-top: 0;
}

.notecard p:last-child, .notecard ul:last-child {
    padding-bottom: 0;
}

.notecard:first-of-type {
    margin-top: 2rem;
}

.notecard:last-of-type {
    margin-bottom: 2rem;
}

.notecard, .notecard li, .notecard p {
    color: var(--text-secondary);
}

.notecard {
    --note-background: var(--background-information);
    --note-theme: var(--icon-information);
    background-color: var(--note-background);
    border-left: 2px solid var(--note-theme);
    border-radius: var(--elem-radius);
    box-shadow: var(--shadow-01);
    margin: 1rem 0;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;
}

.notecard:before {
    background-color: var(--note-theme);
    content: "";
    display: block;
    height: 1rem;
    left: 1rem;
    -webkit-mask-image: url(/src/assets/note-info.svg);
    mask-image: url(/src/assets/note-info.svg);
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    position: absolute;
    top: 1.38rem;
    width: 1rem;
}

/* tip */

.notecard.tip {
    --note-background: var(--background-success);
    --note-theme: var(--icon-success);
}

.notecard.tip:before {
    -webkit-mask-image: url(/src/assets/note-tip.svg);
    mask-image: url(/src/assets/note-tip.svg);
}

.notecard.tip strong {
    color: var(--icon-success);
}

/* important */

.notecard.important {
    --note-background: var(--apis-accent-background-color);
    --note-theme: var(--observatory-border-accent);
    border-right: 2px solid var(--note-theme);
}

.notecard.important:before {
    -webkit-mask-image: url(/src/assets/note-important.svg);
    mask-image: url(/src/assets/note-important.svg);
}

.notecard.important strong {
    color: var(--observatory-border-accent);
}

/* caution */

.notecard.caution {
    --note-background: var(--background-caution);
    --note-theme: var(--icon-caution);
    border-right: 2px solid var(--note-theme);
}

.notecard.caution:before {
    -webkit-mask-image: url(/src/assets/note-caution.svg);
    mask-image: url(/src/assets/note-caution.svg);
}

.notecard.caution strong {
    color: var(--icon-caution);
}

/* warning */

.notecard.warning {
    --note-background: var(--background-warning);
    --note-theme: var(--icon-warning);
    border-right: 2px solid var(--note-theme);
}

.notecard.warning:before {
    -webkit-mask-image: url(/src/assets/note-warning.svg);
    mask-image: url(/src/assets/note-warning.svg);
}

.notecard.warning strong {
    color: var(--icon-warning);
}

/* example */

.notecard.example {
    --note-background: var(--background-example);
    --note-theme: var(--icon-example);
}

.notecard.example:before {
    -webkit-mask-image: url(/src/assets/note-example.svg);
    mask-image: url(/src/assets/note-example.svg);
}

.notecard.example strong {
    color: var(--note-theme);
}

.notecard.example p:first-child {
    border-bottom: 1px solid var(--note-theme);
    margin-bottom: .8rem;
}

.notecard.example p:not(:first-child) {
    font-size: var(--type-smaller-font-size);
}

.notecard.example p:not(:first-child):not(:last-child) {
    margin: 0;
}

.notecard.example p:not(:first-child)::before {
    content: "• ";
    color: var(--note-theme);
    margin-right: 0.5em;
}

/* callout */

.notecard.callout {
    --note-theme: var(--border-primary);
    border-top: 2px solid var(--border-primary);
    /* border-bottom: 2px solid var(--border-primary); */
    border-left: none;
}

.notecard.callout:before {
    display: none;
}

.notecard.callout .block-quote-title-wrapper.callout-title, .notecard.callout p:first-child {
    display: none;
}

.notecard.callout p {
    font: var(--type-smaller-font-size);
    margin: 0;
}

/* .notecard.callout p:last-child {
    padding-bottom: .7rem;
} */

.notecard.callout .code-example {
    margin-top: 1.3rem;
}

.notecard.callout pre {
    margin: 0;
}

.notecard.callout {
    background: var(--background-callout);
    border-radius: var(--elem-radius);
    box-shadow: var(--shadow-01);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0;
    padding: 1rem;
    text-align: left;
}

/* code example */

.code-example, code, pre {
    border-radius: var(--elem-radius);
    font-family: var(--font-code);
    font-size: var(--type-smaller-font-size);
    overflow: auto;
}

.code-example .example-header~iframe, .code-example .example-header~pre {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 0;
}

.code-example {
    --code-action-color: var(--text-secondary);
    position: relative;
}

.code-example .example-header {
    align-items: baseline;
    background-color: var(--background-secondary);
    border-bottom: 1px solid var(--border-secondary);
    border-top-left-radius: var(--elem-radius);
    border-top-right-radius: var(--elem-radius);
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0;
    padding: .1rem 1rem;
}

.code-example .copy-icon, .code-example .play-button:before {
    background-color: var(--code-action-color);
    height: 1rem;
    -webkit-mask-size: cover;
    mask-size: cover;
    width: 1rem;
}

.code-example .example-header .language-name {
    margin-right: auto;
    text-transform: uppercase;
}

.code-example .copy-icon {
    align-self: center;
    cursor: pointer;
    margin-top: -.1rem;
    -webkit-mask-image: url(/src/assets/clippy.svg);
    mask-image: url(/src/assets/clippy.svg);
    padding: 0;
}

.code-example .copy-icon-message {
    background: var(--text-primary);
    border-radius: var(--elem-radius);
    color: var(--text-invert);
    font-size: .8125rem;
    opacity: 1;
    padding: .125rem;
    position: absolute;
    right: .25rem;
    top: 2rem;
    z-index: var(--z-index-a11y);
}

.code-example .example-bad, .code-example .example-good {
    padding: 1rem;
}

.example-bad, .example-good {
    padding: 0 1rem;
    position: relative;
}

.example-bad:before, .example-good:before {
    background-size: 24px;
    content: "";
    float: right;
    height: 16px;
    margin-left: 8px;
    width: 16px;
}

.example-good {
    background-color: var(--background-success);
}

.example-good:before {
    background-color: var(--icon-success);
    -webkit-mask-image: url(/src/assets/checkmark.svg);
    mask-image: url(/src/assets/checkmark.svg);
}

.example-bad {
    background-color: var(--background-critical);
}

.example-bad:before {
    background-color: var(--icon-critical);
    -webkit-mask-image: url(/src/assets/no.svg);
    mask-image: url(/src/assets/no.svg);
}

.token.keyword {
    color: var(--code-token-tag);
}

.token.boolean, .token.char, .token.constant, .token.deleted, .token.number, .token.string, .token.symbol, .token.tag {
    color: var(--code-token-attribute-value);
}

.token.punctuation {
    color: var(--code-token-punctuation);
}

/* lists */

.main-page-content ol {
    list-style: decimal;
}

.main-page-content ol, .main-page-content ul {
    margin: 1rem 0 2rem;
    padding-left: 2rem;
}

.main-page-content ol li, .main-page-content ul li {
    margin: .5rem 0;
}

.main-page-content ul {
    list-style: disc;
}

.main-page-content ul ul {
    list-style: circle;
}

.main-page-content ul ul ul {
    list-style: lower-alpha;
}

.main-page-content dd ol, .main-page-content dd ul {
    margin-bottom: 1rem;
    padding-left: 3rem;
}

.main-page-content dd li {
    margin-bottom: 1rem;
}

.main-page-content dl dt {
    margin-bottom: .5rem;
    margin-top: 2rem;
}

.main-page-content dl p {
    margin: 0 0 1rem;
}

.main-page-content dl dt a {
    color: inherit;
    position: relative;
    text-decoration: none;
}

.main-page-content dl dt a:before {
    color: var(--text-inactive);
    content: "#";
    display: inline-flex;
    font-size: .7em;
    line-height: 1;
    margin-left: -.8em;
    text-decoration: none;
    top: .5em;
    visibility: hidden;
    width: .8em;
}

/* checklist */
ul.contains-task-list {
    padding-left: 0;
}

.task-list-item.no-marker {
    list-style-type: none;
}

/* hr */

.section-content hr {
    border: 1.5px solid var(--border-secondary);
}

/* table */

.main-page-content .section-content figure {
    margin-bottom: 1rem;
}

.main-page-content .section-content table {
    border-collapse: separate;
    border-spacing: 0; /* 保持单元格之间的距离为0 */
}

table thead {
    position: sticky;
    position: -webkit-sticky;
    top: var(--sticky-header-with-actions-height);
    z-index: var(--z-index-low);
}

table thead tr th {
    border: 1px solid var(--border-primary);
}

table tr:first-child {
    border-top: 1px solid var(--border-primary);
}

table tr {
    border-bottom: 1px solid var(--border-secondary);
}

table tr:last-child {
    border-bottom: 1px solid var(--border-primary);
}

table tr td:first-child {
    border-right: 1px solid var(--border-secondary);
}

table tr:nth-child(odd) th, table tr td:first-child {
    background-color: var(--background-secondary);
}

@media (min-width: 426px) {
    .table-container {
        margin: 0 -3rem;
        width: 100vw;
    }
}

@media (min-width: 769px) {
    .table-container {
        width: calc(100% + 6rem);
    }
}

@media (min-width: 1200px) {
    .table-container {
        margin: 0;
        width: 100%;
    }
}