.editor-container {
    height: 100%;
    border-radius: 1rem;
    border: 2px solid var(--border-primary);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: var(--max-width);
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-primary);
}

/* toolbar */

.editor-toolbar {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    padding: 0 1rem;
    align-items: center;
    background-color: var(--background-primary);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border-bottom: 1px solid var(--border-secondary);
}

.editor-toolbar .editor-tool-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.editor-toolbar ul {
    display: flex;
    align-items: center;
}

.editor-toolbar ul li {
    padding-left: .3rem;
    padding-right: .3rem;
}

.editor-toolbar .tool-icon {
    border-radius: 4px;
}

.editor-toolbar .tool-icon svg {
    height: .8rem;
    fill: var(--text-primary);
}

.editor-toolbar .tool-icon .local-icons svg {
    height: auto;
    scale: .6;
}

.toolbar-divider {
    background-color: var(--border-secondary);
    height: 1rem;
    width: 2px;
    border-radius: 1px;
    margin-left: .3rem;
    margin-right: .3rem;
}

.w-split-vertical > .w-split-bar  {
    height: 2px;
}

.editor-toolbar .inner-list {
    display: none;
}

.editor-toolbar .tool-icon {
    position: relative;
}

.editor-toolbar .tool-icon:hover {
    background-color: var(--background-secondary);
    cursor: pointer;
}

.editor-toolbar .tool-icon .tool-icon-wrapper .button.disabled {
    cursor: not-allowed;
}

.editor-toolbar .tool-icon .tool-icon-wrapper:hover .button.disabled, .editor-toolbar .tool-icon .tool-icon-wrapper .button.disabled .inner-list .tool-icon:hover {
    cursor: not-allowed;
}


.editor-toolbar .tool-icon-wrapper .inner-list {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: var(--z-index-search-results);
    background-color: var(--background-primary);
    border-radius: var(--elem-radius);
    border: 1px solid var(--border-primary);
    padding: 0;
    min-width: 2rem;
}

.editor-toolbar .tool-icon-wrapper.has-inner-list .inner-list {
    padding: 10px 0;
}

.editor-toolbar .tool-icon-wrapper:hover .inner-list, .editor-toolbar .tool-icon-wrapper.has-inner-list:focus-within .inner-list {
    display: flex;
    flex-direction: column;
}

.editor-toolbar .tool-icon-wrapper.has-inner-list .inner-list .header {
    pointer-events: none;
    cursor: none;
}

.editor-toolbar .tool-icon  .inner-list header {
    font: var(--type-emphasis-m);
    color: var(--text-secondary);
    padding: 3px 0;
    text-wrap: nowrap;
}

.editor-toolbar .tool-icon .tool-icon-wrapper .inner-list .tool-icon {
    padding: 2px 8px;
}

.editor-toolbar .tool-icon .tool-icon-wrapper.has-inner-list .inner-list .tool-icon {
    padding: 0 4px;
    margin: 3px 0;
}

.editor-toolbar .tool-icon .inner-list .button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 3px 3px;
}

.editor-toolbar .tool-icon .inner-list .inner-list-item-desc {
    font-size: var(--type-tiny-font-size);
    text-wrap: nowrap;
}

.editor-toolbar .tool-icon .inner-list .button.example-good:before, .editor-toolbar .tool-icon .inner-list .button.example-bad:before {
    margin-left: 0;
    scale: 70%;
}

.editor-toolbar .tool-icon .inner-list .button.note svg {
    color: var(--icon-information);
}

.editor-toolbar .tool-icon .inner-list .button.warning {
    color: var(--icon-warning);
}

.editor-toolbar .tool-icon .inner-list .button.caution {
    color: var(--icon-caution);
}

.editor-toolbar .tool-icon .inner-list .button.tip {
    color: var(--icon-success);
}

.editor-toolbar .tool-icon .inner-list .button.example {
    color: var(--icon-example);
}

.editor-toolbar .tool-icon .inner-list .button.important {
    color: var(--observatory-border-accent);
}

.editor-toolbar .tool-icon .inner-list input {
    width: fit-content;
    margin: 5px 0;
    height: 1.5rem;
    font-size: var(--type-tiny-font-size);
}

.editor-toolbar .tool-icon .inner-list .inline-input-wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.editor-toolbar .tool-icon .inner-list .inline-input-wrapper .input-desc {
    font-size: var(--type-tiny-font-size);
    text-wrap: nowrap;
}

.editor-toolbar .tool-icon .inner-list hr {
    width: 80%;
    border: 1px solid var(--border-secondary);
}

/* content */

.editor-content {
    width: 100%;
    border-radius: 1rem;
}

/* input */

.editor-input {
    border-radius: 0 0 0 1rem;
    height: 100%;
    overflow: auto;
}

.cm-theme {
    height: 100%;
}

.editor-input.input-only {
    border-radius: 0 0 1rem 1rem;
}

/* preview */

.editor-preview {
    padding: 0 2rem;
    height: 100%;
    border-radius: 1rem 0 0 0;
    overflow: auto;
}

.editor-preview.preview-only {
    width: 100%;
    border-radius: 0 0 1rem 1rem;
}

.editor-preview p {
    font: var(--type-article-p);
}

.editor-preview .markdown-container hr:first-child {
    display: none;
}

.editor-preview .markdown-container section:first-of-type h2 {
    display: none;
}

.editor-preview .markdown-container section:first-of-type p {
    font: var(--type-article-p);
    color: var(--text-secondary);
    background-color: var(--background-secondary);
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-top: .7rem;
    padding-bottom: .7rem;
    border-radius: .5rem;
}

.editor-preview .markdown-container section .header-wrapper .header-desc {
    background-color: rgba(1, 1, 1, 0);
}

.editor-preview .markdown-container section h2 a,
.editor-preview .markdown-container section h3 a {
    color: var(--text-primary);
    text-decoration: none;
    pointer-events: none;
}

.editor-preview .markdown-container section h2 a::before {
    color: var(--text-inactive);
    content: "#";
    display: inline-block;
    font-size: .7em;
    line-height: 1;
    margin-left: -.8em;
    text-decoration: none;
    width: .8em;
}

.editor-preview .markdown-container section h3 a::before {
    color: var(--text-inactive);
    content: "h3";
    display: inline-block;
    font-size: .6em;
    line-height: 1;
    margin-left: -1.2em;
    text-decoration: none;
    width: 1.1em;
}

.editor-preview .markdown-container section h4 a::before {
    color: var(--text-inactive);
    content: "h4";
    display: inline-block;
    font-size: .6em;
    line-height: 1;
    margin-left: -1.2em;
    text-decoration: none;
    width: 1.1em;
}

.editor-preview .markdown-container section ol {
    list-style: decimal;
}

.editor-preview .markdown-container section ul {
    list-style: disc;
}

.editor-preview .markdown-container section ol, .editor-preview .markdown-container section ul {
    margin: 1rem 0 2rem;
    padding-left: 2rem;
}

.editor-preview .markdown-container section ol, .editor-preview .markdown-container section ul.contains-task-list {
    padding-left: 0;
}

.editor-preview .markdown-container section ol li, .editor-preview .markdown-container section ul li {
    margin: .5rem 0;
}

.editor-preview .markdown-container section table thead {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: var(--z-index-low);
}

@media (min-width: 426px) {
    .editor-preview .markdown-container section .table-container {
        margin: 0;
    }
}

@media (max-width: 768px) {

    .editor-container {
        flex-direction: row;
    }

}

/* full-screen */


.editor-container.full-screen {
    z-index: var(--z-index-a11y);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    border: none;
    max-width: none;
}

.editor-container.full-screen {
    border-radius: 0;
}

.editor-container.full-screen .editor-toolbar {
    border-radius: 0;
}

.editor-container.full-screen .editor-content {
    border-radius: 0;
}

.editor-container.full-screen .editor-input {
    border-radius: 0;
}

.editor-container.full-screen .editor-preview {
    border-radius: 0;
}