/* Container for the loading component */
.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--background-primary);
}

/* Text above the progress bar */
.loading-text {
    margin-bottom: 2rem;
    font: var(--type-heading-h2);
    text-shadow: var(--shadow-02);
}

/* Progress ring */
.progress-ring {
    position: relative;
    width: 5rem;
    height: 5rem;
}

.progress-ring__circle {
    stroke: var(--background-mark-green);
    stroke-width: 10;
    fill: transparent;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.35s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.progress-ring__background {
    stroke: var(--background-secondary);
    stroke-width: 10;
    fill: transparent;
}