/* Container for the loading component */
.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--background-primary);
}

/* Text above the progress bar */
.loading-text {
    margin-bottom: 10px;
    font: var(--type-heading-h2);
    text-shadow: var(--shadow-02);
}

/* Outer container of the progress bar */
.progress-bar {
    width: 80%;
    height: 20px;
    border: 1px solid var(--border-secondary);
    border-radius: var(--elem-radius);
    overflow: hidden;
    position: relative;
    box-shadow: var(--shadow-02);
}

/* Inner progress bar */
.progress {
    height: 100%;
    background-color: var(--background-mark-green);
    width: 0;
    transition: width 0.3s ease;
}
