.document-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.document-container .article-actions-container, .document-container .document-toc-container, .document-container .generic-loading, .document-container .main-content, .document-container .metadata, .document-container .page-header, .document-container .sidebar {
  display: flex;
}

.sticky-header-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: var(--z-index-main-header);
}

.document-page .article-actions-container, .document-page .document-toc-container, .document-page .generic-loading, .document-page .main-content, .document-page .metadata, .document-page .page-header, .document-page .sidebar {
  display: flex;
}

.article-actions-container {
  align-items: center;
  background-color: var(--background-secondary);
  border-bottom: 1px solid var(--border-primary);
  margin: 0;
  min-height: var(--article-actions-container-height);
  padding: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: var(--z-index-low);
}

.article-actions-container .container {
  align-items: center;
  display: flex;
  gap: .5rem;
  justify-content: space-between;
}

.article-actions-container .sidebar-button {
  display: none;
}

.icon.icon-sidebar {
  -webkit-mask-image: url(/src/assets/sidebar.svg);
  mask-image: url(/src/assets/sidebar.svg);
}

.sidebar-container {
  --offset: var(--sticky-header-with-actions-height);
  --max-height: calc(100vh - var(--offset));
  max-height: var(--max-height);
  position: -webkit-sticky;
  position: sticky;
  top: var(--offset);
  z-index: var(--z-index-sidebar-mobile);
}

.document-page .main-content, .document-page .sidebar {
  flex-direction: column;
  width: 100%;
}

.sidebar .backdrop {
  display: none;
}

.sidebar .sidebar-actions {
  height: 0;
  padding-bottom: 4rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: var(--z-index-main-header);
}

.sidebar-filter-container {
  background: linear-gradient(to bottom, var(--background-primary) 0 calc(100% - 2rem), #0000 100%);
  display: flex;
  flex-direction: column;
  font-size: var(--type-smaller-font-size);
  padding-bottom: 2rem;
  padding-right: .5rem;
  padding-top: .5rem;
}

.sidebar-filter-container .sidebar-filter {
  align-items: center;
  display: flex;
  margin-bottom: .5rem;
}

.sidebar-filter-container .sidebar-filter-label {
  left: .5rem;
  position: relative;
  width: 0;
}

.sidebar-filter-container .sidebar-filter-label .icon {
  background-size: 1rem;
  height: 1rem;
  -webkit-mask-size: 1rem;
  mask-size: 1rem;
  width: 1rem;
}

.sidebar-filter-container .icon {
  background-color: var(--icon-secondary);
  margin-right: unset;
  position: unset;
  position: relative;
  z-index: unset;
}

.sidebar .icon {
  align-self: center;
  background-size: 14px;
  height: 14px;
  margin-right: -.25rem;
  -webkit-mask-size: 14px;
  mask-size: 14px;
  width: 14px;
}

.icon.icon-filter {
  -webkit-mask-image: url(/src/assets/filter.svg);
  mask-image: url(/src/assets/filter.svg);
}

.sidebar-filter-container .sidebar-filter-input-field.is-active, .sidebar-filter-container .sidebar-filter-input-field:focus {
  padding-right: 7rem;
  width: 100%;
}

.sidebar-filter-container .sidebar-filter-input-field[value=""] {
  width: 5rem;
}

.sidebar-filter-container .sidebar-filter-input-field {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--background-primary);
  border: 1px solid var(--border-primary);
  border-radius: 1rem;
  color: var(--text-primary);
  height: var(--form-elem-height);
  padding-left: 1.75rem;
}

.sidebar-filter-container .sidebar-filter-input-field~.button.clear-sidebar-filter-button {
  display: none;
  position: absolute;
  right: .75rem;
}

.sidebar-filter-container .sidebar-filter-input-field.is-active, .sidebar-filter-container .sidebar-filter-input-field:focus {
  padding-right: 7rem;
  width: 100%;
}

.sidebar-filter-container .button {
  --button-color: var(--icon-secondary);
  --button-height: 1.5rem;
  --button-padding: 0;
  width: 1.5rem;
}

.sidebar-filter-container .icon {
  background-color: var(--icon-secondary);
  margin-right: unset;
  position: unset;
  position: relative;
  z-index: unset;
}

.sidebar-filter-container .sidebar-filter-input-field.is-active~.button.clear-sidebar-filter-button, .sidebar-filter-container .sidebar-filter-input-field.is-active~.sidebar-filter-count, .sidebar-filter-container .sidebar-filter-input-field:focus~.button.clear-sidebar-filter-button, .sidebar-filter-container .sidebar-filter-input-field:focus~.sidebar-filter-count {
  display: block;
}

.sidebar .sidebar-actions~.sidebar-inner-nav {
  margin-top: .5rem;
}

.document-toc {
  margin-bottom: 2rem;
  padding: 0;
}

.document-toc-heading.document-toc-heading {
  font: var(--type-heading-h5);
  letter-spacing: 1.5px;
  margin: 0 0 1rem;
}

.document-toc-list.document-toc-list {
  font-size: var(--type-smaller-font-size);
  list-style: none;
  padding-left: 0;
}

.document-toc-list.document-toc-list li {
  margin: 0;
}

.sidebar li, .sidebar summary {
  margin-bottom: .5rem;
}

.document-toc-link.document-toc-link:not(.button) {
  border-left: 2px solid var(--border-secondary);
  color: var(--text-secondary);
  display: block;
  text-decoration: none;
}

.document-toc-link.document-toc-link:not(.button):hover {
  color: var(--text-link);
}

.document-toc-link.h2 {
  padding: .5rem 1rem;
}

.document-toc-link.h3 {
  padding: .4rem 1.5rem;
  font-size: var(--type-tiny-font-size);
}

.sidebar a {
  color: var(--text-secondary);
  padding: .25rem;
}

.sidebar a, .sidebar em {
  display: inline-block;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.sidebar a:focus, .sidebar a:hover {
  text-decoration: underline;
}

.sidebar ol {
  font-size: var(--type-smaller-font-size);
}

.sidebar li.section {
  display: flex;
  font-size: var(--type-base-font-size-rem);
  font-weight: var(--font-body-strong-weight);
  letter-spacing: .02rem;
  margin-top: 1.5rem;
}

.sidebar details {
  margin: .75rem 0;
}

.sidebar code, .sidebar summary {
  font-size: var(--type-smaller-font-size);
}

.sidebar summary {
  cursor: pointer;
}

.sidebar details ol {
  padding-left: .75rem;
}

.sidebar ol ol, .sidebar ol ul {
  padding-left: .5rem;
}

section.place.side {
  flex-direction: column;
  max-width: 12rem;
  min-height: 20rem;
}

section.place {
  display: flex;
  margin: 1rem 0;
}

.main-wrapper {
  display: flex;
  margin: 0 auto;
  max-width: var(--max-width);
}

.main-wrapper .toc {
  display: none;
}

.sidebar-container .toc-container .place, .sidebar-container.toc-container .place {
  grid-area: toc;
  margin: 0;
}

.main-page-content {
  overflow-wrap: break-word;
  padding: 3rem 1rem 1rem;
}

.document-toc-link.document-toc-link:not(.button)[aria-current]:not([aria-current=""]):not([aria-current=false]) {
  background-color: var(--background-toc-active);
  border-left: 2px solid var(--category-color);
  color: var(--text-primary);
  font-weight: 600;
}

.sidebar a[aria-current="page"] {
  background-color: var(--background-toc-active);
  border-left: 2px solid var(--category-color);
  font-style: normal;
  font-variation-settings: normal;
  font-weight: 600;
  padding: .25rem .25rem .25rem .5rem;
  width: 100%;
}

.main-page-content h2, .main-page-content h3, .main-page-content h4, .main-page-content h5, .main-page-content h6, .main-page-content dt {
  scroll-margin-top: calc(var(--top-nav-height) + var(--article-actions-container-height) + 1rem); /* 调整这个值以匹配你的顶栏高度 */
}

@media screen and (max-width: 769px) {

  .article-actions-container .sidebar-button {
      align-items: center;
      align-self: stretch;
      display: flex;
      margin: 0 0 0 -1rem;
  }

  .sidebar.is-animating, .sidebar.is-expanded, .sidebar.is-expanded .sidebar-inner {
    transform: translateX(0);
    transition: all 0.4s ease-in-out;
  }

  .sidebar {
    height: 100vh;
    left: 0;
    max-height: 100vh;
    position: fixed;
    right: 0;
    top: var(--offset);
    transform: translateX(-100%);
    transition: all 0.4s ease-in-out;
  }

  .sidebar.is-expanded .backdrop {
    opacity: 1;
  }

  .sidebar .backdrop {
    background: #0000004d;
    border-radius: 0;
    bottom: 0;
    cursor: default;
    display: flex;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity .2s linear;
    width: 100%;
    will-change: opacity;
  }

  .sidebar .sidebar-inner {
    background: var(--background-primary);
    border-right: 1px solid var(--border-primary);
    display: grid;
    height: var(--max-height);
    max-height: var(--max-height);
    max-width: 20rem;
    overflow: hidden;
    overflow: auto;
    padding: 1rem;
    position: relative;
    transform: translateX(-100%);
    transition: transform .2s linear;
    width: 80vw;
    will-change: transform;
  }

  .sidebar .sidebar-actions {
    height: unset;
    margin-top: unset;
    padding-bottom: unset;
    position: unset;
    top: unset;
  }

  .sidebar-filter-container {
    padding-bottom: unset;
  }

  .sidebar-filter-container .sidebar-filter-input-field~.button.clear-sidebar-filter-button {
    left: calc(100% - 3rem);
  }

  .sidebar .sidebar-inner .sidebar-inner-nav {
    display: contents;
    -webkit-mask-image: linear-gradient(180deg, #000 0 calc(100% - 3rem), #0000);
    mask-image: linear-gradient(180deg, #000 0 calc(100% - 3rem), #0000);
    padding-bottom: 3rem;
  }

  .sidebar .sidebar-actions~.sidebar-inner-nav {
    margin-top: unset;
  }

  .sidebar .sidebar-inner .place {
    align-self: center;
    justify-self: center;
    margin-bottom: 0;
  }

}

@media screen and (min-width: 769px) and (min-height: 44rem) {
  .sidebar-container {
      display: flex;
      flex-direction: column;
  }
}

@media screen and (min-height: 44rem), screen and (min-width: 992px) {
  .sidebar {
      display: block;
      overflow: auto;
  }
}

@media screen and (min-width: 426px) {
  .main-page-content {
      padding: 3rem 3rem 0;
  }
}

@media screen and (min-width: 769px) {

  .article-actions-container {
    position: static;
  }

  .main-wrapper {
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main";
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
    padding-left: 1.5rem;
    padding-right: 3rem;
  }

  .sidebar-container {
    z-index: auto;
  }

  .sidebar-container .sidebar {
    -webkit-mask-image: linear-gradient(180deg, #000 0 calc(100% - 3rem), #0000);
    mask-image: linear-gradient(180deg, #000 0 calc(100% - 3rem), #0000);
  }

  .article-actions-container .sidebar-button .button-wrap {
    border-radius: 0;
    border-right: 1px solid var(--border-primary);
  }

  .main-wrapper .main-content, .main-wrapper .sidebar, .main-wrapper .toc {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }

  .main-wrapper .sidebar {
    align-self: start;
    grid-area: sidebar;
    padding-top: unset;
  }

  .main-wrapper .main-content {
    grid-area: main;
  }

  .main-page-content {
    margin-bottom: 0;
    padding: 0;
  }

  .sidebar .place {
    display: none;
  }

  .main-page-content {
    margin-bottom: 0;
    padding: 0;
}

}

@media screen and (min-width: 1200px) {

  .main-wrapper {
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main toc";
    grid-template-columns: minmax(0, 1fr) minmax(0, 2.5fr) minmax(0, 15rem);
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .sidebar-container {
    display: contents;
  }

  .sidebar-container .sidebar {
    -webkit-mask-image: none;
    mask-image: none;
  }

  .sidebar {
    max-height: var(--max-height);
    position: -webkit-sticky;
    position: sticky;
    top: var(--offset);
  }

  .sidebar-container .toc-container, .sidebar-container.toc-container {
    display: flex;
    flex-direction: column;
    gap: 0;
    height: calc(100vh - var(--offset));
    -webkit-mask-image: linear-gradient(180deg, #0000 0, #000 3rem calc(100% - 3rem), #0000);
    mask-image: linear-gradient(180deg, #0000 0, #000 3rem calc(100% - 3rem), #0000);
    overflow: auto;
    position: -webkit-sticky;
    position: sticky;
    top: var(--offset);
  }

  .main-wrapper .toc {
    --offset: var(--sticky-header-with-actions-height);
    display: block;
    grid-area: toc;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-bottom: 0;
}

  .sidebar-container .toc-container .place, .sidebar-container.toc-container .place {
    margin: 1rem 0;
    padding-bottom: 3rem;
  }

  .main-wrapper .in-nav-toc {
    display: none;
  }

}