.header-search .search-widget {
  margin: 0 auto;
  max-width: 20rem;
  position: relative;
  width: 100%;
}

.header-search .search-input-field:focus~.button.clear-search-button, .header-search .search-input-field:valid~.button.clear-search-button, .header-search .search-widget:focus-within .search-input-field~.button.clear-search-button {
  display: block;
  right: 2.8rem;
}

.header-search .search-input-field:focus, .header-search .search-input-field:valid, .header-search .search-widget:focus-within .search-input-field {
  width: inherit;
}

.header-search .search-input-field {
  -webkit-appearance: none;
  background-color: var(--background-primary);
  border: 1px solid var(--border-primary);
  border-radius: 100px;
  caret-color: var(--text-link);
  color: var(--text-primary);
  height: var(--form-elem-height);
  min-width: 5rem;
  padding-left: 1rem;
  padding-right: 2rem;
  width: 100%;
}

.search-form {
  display: flex;
  position: relative;
}

.header-search {
  max-width: 100%;
}

.header-search .search-results, .homepage-hero-search .search-results {
  border: 1px solid var(--border-secondary);
  border-radius: var(--elem-radius);
  box-shadow: var(--shadow-01);
  left: 0;
  position: absolute;
  top: 42px;
  width: 100%;
  z-index: var(--z-index-search-results);
}

.search-results {
  overflow-y: scroll;
  max-height: 70vh;
  background: var(--background-primary);
}

.result-item {
  max-width: 100%;
  overflow: hidden;
}

.header-search .search-results, .header-search .search-results a[href], .header-search .search-results mark, .homepage-hero-search .search-results, .homepage-hero-search .search-results a[href], .homepage-hero-search .search-results mark {
  color: var(--text-primary);
}

.header-search .search-results .result-item, .homepage-hero-search .search-results .result-item {
  background: var(--background-secondary);
  border-bottom: 1px solid var(--border-secondary);
  font-size: var(--type-smaller-font-size);
  word-break: break-word;
}

.header-search .search-results .result-item.highlight, .header-search .search-results .result-item:hover, .homepage-hero-search .search-results .result-item.highlight, .homepage-hero-search .search-results .result-item:hover {
  background-color: var(--border-secondary);
}

.header-search .search-results .result-item:focus, .header-search .search-results .result-item:hover, .homepage-hero-search .search-results .result-item:focus, .homepage-hero-search .search-results .result-item:hover {
  cursor: pointer;
}

.header-search .search-results .result-item.nothing-found:hover {
  cursor: default;
}

.header-search .search-input-field:valid, .header-search .search-input-field:valid::placeholder {
  animation: none;
}

.header-search .search-results .result-item:first-child, .homepage-hero-search .search-results .result-item:first-child {
  border-radius: var(--elem-radius) var(--elem-radius) 0 0;
}

.header-search .search-results .result-item>*, .homepage-hero-search .search-results .result-item>* {
  display: block;
  padding: .5rem;
}

.header-search .search-results small, .homepage-hero-search .search-results small {
  overflow-wrap: break-word;
}

.header-search .search-results mark, .homepage-hero-search .search-results mark {
  background-color: var(--mark-color);
}

.header-search .search-input-field:invalid, .header-search .search-input-field:invalid::placeholder {
  animation: blink 2s step-end infinite;
  caret-color: #0000;
}

.header-search .search-input-field:not(:focus):valid, .header-search .search-input-field:not(:focus):valid::placeholder {
  text-decoration-line: none;
}

.header-search .search-input-field:not(:focus), .header-search .search-input-field:not(:focus)::placeholder {
  animation: none;
  text-decoration-line: underline;
}

.header-search .search-input-field, .header-search .search-input-field::placeholder {
  font: var(--type-body-l);
  opacity: 1;
  text-decoration-color: var(--text-link);
  text-decoration-thickness: .15rem;
  text-underline-offset: .1em;
}

.header-search .search-results .nothing-found, .homepage-hero-search .search-results .nothing-found {
  font-style: italic;
  font-variation-settings: "slnt" -10;
}

.top-navigation-main .header-search {
  order: 1;
}

.button.clear-search-button, .button.search-button {
  --button-color: var(--icon-secondary);
  --button-height: 1.5rem;
  --button-padding: 0;
  position: absolute;
  right: .75rem;
  top: .25rem;
  width: 1.5rem;
}

.button.search-button.disabled {
  pointer-events: none;
}

.button.clear-search-button {
  display: none;
}

.icon.icon-search {
  -webkit-mask-image: url(/src/assets/search.svg);
  mask-image: url(/src/assets/search.svg);
}

.header-search .search-results a, .homepage-hero-search .search-results a {
  text-overflow: ellipsis;
}

a.no-result {
  pointer-events: none;
}

@media (min-width: 769px) {

  .header-search .search-widget {
    align-items: center;
    display: flex;
    gap: .5rem;
  }

  .button.clear-search-button, .button.search-button {
    right: 1.2rem;
    width: 1.5rem;
  }

}

@media (min-width: 992px) {

  .top-navigation-main .header-search {
    order: 1;
  }

  .header-search .search-input-field:invalid {
    width: 1rem;
  }

}